{% extends 'main/layout.html' %}

{% block content %}
<div class = "features">
   <h1>Додзе Тайги</h1>
   <p>На этой не лучше</p>
   <buttton class = "btn btn-warning"> Кнопка телепортации </buttton>
</div>

<div class = "tab">
   <table>
      <tr>
         <td>Ячейка 1-1</td>
         <td>Ячейка 1-2</td>
      </tr>
      <tr>
         <td>Ячейка 2-1</td>
         <td>Ячейка 2-2</td>
      </tr>
   </table>
<div>
{% endblock %}

{% block title %}
   <title>Вторичная страница</title>
{% endblock %}